.btn-C {
    width: 60px;
    height: 60px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.card-h {   
    position:absolute;
    left:42%;
    top:-20px;
    border-radius:70%;
}


.p-card {
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
    word-break: break-all;
    .avatar img{
        margin-top: -55px;
        width: 130;
        height: 110;
        max-width: 140px;
        max-height: 110px;
        border-radius: 50%;
        overflow: hidden;
        border: 5px solid #fff;
    }
    .card-up{
        overflow: hidden;
        height: 120px;
        -webkit-border-top-left-radius: .25rem;
        border-top-left-radius: .25rem;
        -webkit-border-top-right-radius: .25rem;
        border-top-right-radius: .25rem;
        background-color: #5ba4fd; 
    }
}

.progress{
    top: -20%;
    max-width: 85%;
    margin-left: 3%;
    display: inline-block;
}

.p-btn:hover{
    color: #1CB0F6;
    background-color: white;
    transition: background-color 0.6s; 
}
