{% extends "/View/layout.twig" %}
{% set page_title = "Perfil" %}

{% block scripts %}
    {# <script src="{{ base_url() }}/dist/js/profile.js"></script> #}
{% endblock %}

{% block styles %}
    {# <link rel="stylesheet" href="/dist/css/profile/style.min.css"> #}
{% endblock %}

{% block content %}   
<div class = "row-mb-3">
    AAAAAAAAAAAAAAAA    
</div>
{% endblock %}