{% extends "/View/layout.twig" %}
{% set page_title = "Perfil" %}

{% block scripts %}
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="/dist/css/profile-visit/style.min.css">
{% endblock %}

{% block content %}   

    <div class = "user-area">
        <div class = "container">
            <div class = "row">
                <div class = "col-md-4 mt-2">
                    <div class="card myCard">
                        <div class="card-header">
                            <h5 class="card-title text-center">
                               Troféus e Títulos de {{attributes.fullname}} <i class = "fas fa-bolt"></i>
                            </h5>
                        </div>
        
                        <div class = "btn-group mt-0">
                            <button type="button" class="btn btn-x3" data-toggle="collapse" data-target="#cd-1" ><i class="fas fa-crown"></i></button>
                            <button type="button" class="btn btn-x2" data-toggle="collapse" data-target="#cd-2" ><i class="fas fa-trophy"></i></button>
                        </div>

                        <div id = "cd-1" class = "collapse">
                            <div class="card border-cosmo-color-1 mx-sm-1 p-3 mt-4">
                                <div class="card border-cosmo-color-1 shadow text-cosmo-color-1 p-3 card-h"><span class="fas fa-crown" aria-hidden="true"></span></div>
                                <div class="text-center mt-3"><h4>Títulos</h4></div>
                                <div class="text-center mt-2"><h6>Infante</h6></div>
                                <div class="text-center mt-2"><h6>Infante</h6></div>
                                <div class="text-center mt-2"><h6>***</h6></div>
                            </div>
                        </div>

                        <div id = "cd-2" class = "collapse">
                            <div class="card border-cosmo-color-8 mx-sm-1 p-3 mt-4">
                                <div class="card border-cosmo-color-8 shadow text-cosmo-color-8 p-3 card-h"><span class="fas fa-trophy" aria-hidden="true"></span></div>
                                <div class="text-center mt-3"><h4>Troféus</h4></div>
                                <div class="text-center mt-2"><h6>*IF's Ouro*</h6></div>
                                <div class="text-center mt-2"><h6>*While's Bronze*</h6></div>
                                <div class="text-center mt-2"><h6>***</h6></div>
                            </div>
                        </div>

                    </div>
                </div>

                {# middle profile area #}
                <div class = "col-md-4 col-sm-6 col-xs-12 mt-0">
                    <figure class = "profile-card rounded">
                        <img src="https://img.freepik.com/free-photo/wooden-plank-textured-background-material_53876-33591.jpg?size=626&ext=jpg" alt="" />
                        <figcaption>
                            <div class = "profile-img">
                                <img src = "{{attributes.avatar}}" class = "profile" alt = "" > 
                            </div>
                            <div class = "profile-data">
                                <h2> {{attributes.fullname}}
                                <span "profile-title">{{attributes.fulltitle}}</span>
                                <span>Faturou: 500 coins</span>
                                <span>Questões feitas: 16</span>
                                <span>Level: 12</span>
                                <span>Desafios feitos: 7</span>
                                <span>Skills: Atribuidor Mestre</span></h2>
                                <a href="../profile" class="back-profile">Voltar</a>
                            </div>
                        </figcaption>
                    </figure>
                </div>

                <div class = "col-md-4 bg-dark mt-2 text-center text-danger">
                    <h2>Skills</h2>
                </div>
            </div>
        </div> 
    </div>

{% endblock %}