{% extends "View/layout_login.twig" %}

{% set page_title = "Entrar" %}

{% block scripts %}
    <script type="text/javascript" src="{{ base_url() }}/dist/js/login.js"></script>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ base_url() }}/dist/css/login/style.min.css">
{% endblock %}

{% block content %}
    
    <div class="login-container row d-flex justify-content-center align-content-center animated fadeInDown">
        <div class="col-md-5 bg-login">
            <div class="card text-center">
                <div class="card-header">
                    <span class="card-title mb-0">
                        <a href ="https://github.com/TeleMidia-MA" style = "text-decoration: none;color: #111720;font-size: 15pt">
                            <b>Cosmo</b>Telemídia
                        </a>
                    </span>
                </div>

                <form id="login-form">
                    <div class="card-body">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            <input id="frmlogin-email" type="text" class="form-control" placeholder="Email ou Nome de Usuário" aria-label="Email ou Nome de Usuário">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <input id="frmlogin-password" type="password" class="form-control" placeholder="Senha" aria-label="Senha">
                        </div>
                    </div>

                    <div class="card-footer">
                        <button id="btnLogin" type="submit" class="btn btn-cosmo-color-2 w-100" aria-label="btn login" >Entrar</button>
                    </div>
                </form>
            </div>

            <p class="my-2 text-center"><a class="text-white" href="{{ path_for("register.index") }}" aria-label="btn novaConta">Não tenho uma conta</a></p>
        </div>
    </div>  
{% endblock %}