{% extends "View/layout_login.twig" %}

{% set page_title = "Entrar" %}

{% block scripts %}
    <script type="text/javascript" src="/dist/js/login.js"></script>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="/dist/css/login/style.min.css">
{% endblock %}

{% block content %}
    <div class="login-container row d-flex justify-content-center align-content-center">
        <div class="col-md-5">
            <div class="card text-center">
                <div class="card-header">
                    <span class="card-title mb-0"><b>Cosmo</b>Telemídia</span>
                </div>

                <div class="card-body">
                    <form>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>

                            <input id="frmlogin-email" type="text" class="form-control" placeholder="Email ou Nome de Usuário" aria-label="Email ou Nome de Usuário">
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>

                            <input id="frmlogin-password" type="password" class="form-control" placeholder="Senha" aria-label="Senha">
                        </div>
                    </form>
                </div>

                <div class="card-footer">
                    <button id="btnLogin" class="btn btn-cosmo-color-1 w-100">Entrar</button>
                </div>
            </div>

            <p class="my-2 text-center"><a class="text-white" href="{{ path_for("register.index") }}">Não tenho uma conta</a></p>
        </div>
    </div>
{% endblock %}