{% extends "View/layout_login.twig" %}

{% block title %}Login{% endblock %}

{% block content %}
    <div class="login-box">
        <div class="login-logo">
            <a href="{{ base_url() }}"><b>Cosmo</b>Telemídia</a>
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
            <p class="login-box-msg">Seja bem vindo a plataforma de Ensino Cosmo</p>

            <div class="form-group has-feedback">
                <input type="email" name="username" class="form-control" placeholder="Email..." id="frmlogin-email">
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" name="password" class="form-control" placeholder="Senha..." id="frmlogin-password">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            </div>
            <div class="row">
                <div class="col-xs-8">&nbsp;</div>
                <!-- /.col -->
                <div class="col-xs-4">
                    <button type="button" class="btn btn-primary btn-block btn-flat" id="btnLogin">Entrar</button>
                </div>
                <!-- /.col -->
            </div>

            <a href="{{ path_for('register.index') }}" class="text-center">Não possuo usuário</a><br>
            <a href="{{ path_for('register.password.rescue') }}">Recuperar senha</a>
        </div>
        <!-- /.login-box-body -->
    </div>
    <!-- /.login-box -->
{% endblock %}

{% block javascript %}
    <script src="{{ base_url() }}/assets/js/pages/loginjs/dist/loginjs.min.js"></script>
{% endblock %}


