$img-bg: rgba(0, 0, 0, 0.2);

.btn-xl:hover {
    color: #1880ff;
    background-color: #EBEBEB;
}

.my-card
{
    position:absolute;
    left:40%;
    top:-20px;
    border-radius:50%;
    transition: collapse 1s;
}

#btn-see-profile, #btn-close-profile, #btn-update-profile {
    margin-bottom: 5px; 
}

.myTitle, .myNick, .myEmail, .myName, .myAnswer, .myTime{
    color: rgb(139, 23, 23);
}

.card-body .avatar-bg{
    background-color: gold;
}

.overlay {
    opacity: 0;
    top: -220px;
    font-size: 20pt;
    color: white;
    margin-bottom: -20px; 
}
.myImage {
    p {
        font-family: 'Lilita One', cursive;
        font-weight: bold;
    }

    img {
        width: 250px;
        height: 250px;
    }
}
.myImage a:hover {
    background-color: $img-bg;

    .overlay {
      position: relative;
      opacity: 1;
    }
    img {
      -webkit-filter: blur(2px);
      filter: blur(2px);
    }
}
