{% extends "View/layout_login.twig" %}

{% block title %}Recuperar Senha{% endblock %}

{% block content %}
    <div class="register-box">
        <div class="login-logo">
            <a href="{{ base_url() }}"><b>Cosmo</b>Telemídia</a>
        </div>

        <div class="register-box-body">
            <p class="login-box-msg">Recuperar Senha</p>

            <div class="form-group has-feedback">
                <input type="email" class="form-control" placeholder="Email" id="frmrescue-email" name="frmrescue-email">
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            </div>
            <div class="row">
                <div class="col-xs-5">
                    &nbsp;
                </div>
                <!-- /.col -->
                <div class="col-xs-7">
                    <button type="button" class="btn btn-primary btn-block btn-flat" id="btnRescuePassword">Recuperar senha</button>
                </div>
                <!-- /.col -->
            </div>

            <a href="{{ path_for('login.index') }}" class="text-center">Cancelar</a>
        </div>
        <!-- /.form-box -->
    </div>
{% endblock %}

{% block javascript %}
    <script src="{{ base_url() }}/assets/js/pages/registerjs/dist/registerjs.min.js"></script>
{% endblock %}