{% extends "View/layout_login.twig" %}

{% set page_title = "Registro" %}

{% block scripts %}
    <script type="text/javascript" src="{{ base_url() }}/dist/js/register.js"></script>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ base_url() }}/dist/css/register/style.min.css">
{% endblock %}

{% block content %}
    <div class="register-container row d-flex justify-content-center align-content-center">
        <div class="col-md-5">
            <div class="card text-center">
                <div class="card-header">
                    <span class="card-title mb-0"><b>Cosmo</b>Telemídia</span>
                </div>

                <div class="card-body">
                    <form>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>

                            <input id="frmregister-fullname" type="text" class="form-control" placeholder="Nome Completo" aria-label="Nome Completo">
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                            </div>

                            <input id="frmregister-email" type="email" class="form-control" placeholder="Email" aria-label="Email">
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">@</span>
                            </div>

                            <input id="frmregister-nickname" type="text" class="form-control" placeholder="Nome de Usuário" aria-label="Nome de Usuário">
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>

                            <input id="frmregister-password" type="password" class="form-control" placeholder="Senha" aria-label="Senha">
                        </div>
                    </form>


                    <div class="input-group mb-3">
                       <!--  <label for="inputState">State</label> -->
                       <div class="input-group-prepend"> 
                           <span class="input-group-text"><i class="fas fa-graduation-cap"></i></span>
                        </div>
                        <select id="frmregister-turma" class="form-control">
                          <option selected>Código Turma</option>
                          <option>...</option>
                        </select>
                      </div>


                </div>

                <div class="card-footer">
                    <button id="btnCreateAccount" class="btn btn-cosmo-color-1 w-100">Enviar</button>
                </div>
            </div>

            <p class="my-2 text-center"><a class="text-white" href="{{ path_for("login.index") }}">Já tenho uma conta</a></p>
        </div>
    </div>
{% endblock %}