{% extends "View/layout.twig" %}
{% set page_title = "Administração do Cosmo" %}

{% block content %}
   
    <div class="row my-4">
        <div class="col-md-4 mb-2">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title mb-0">Usuários</h5>
                </div>

                <div class="card-body">
                    <p class="mb-0">Aqui você pode adicionar, editar ou excluir usuários.</p>
                </div>

                <div class="card-footer">
                    <a class="btn btn-cosmo-color-2" href="{{ path_for("administrator.control.users") }}">Abrir</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-2">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title mb-0">Atividades</h5>
                </div>

                <div class="card-body">
                    <p class="mb-0">Aqui você pode adicionar, editar ou excluir atividades.</p>
                </div>

                <div class="card-footer">
                    <a class="btn btn-cosmo-color-2" href="{{ path_for("administrator.control.activities") }}">Abrir</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-2">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title mb-0">Grupos de Atividades</h5>
                </div>

                <div class="card-body">
                    <p class="mb-0">Aqui você pode adicionar, editar ou excluir grupos de atividades.</p>
                </div>

                <div class="card-footer">
                    <a class="btn btn-cosmo-color-2" href="{{ path_for("administrator.control.groupactivities") }}">Abrir</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-2">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title mb-0">Turmas</h5>
                </div>

                <div class="card-body">
                    <p class="mb-0">Aqui você pode adicionar, editar ou excluir turmas de alunos.</p>
                </div>

                <div class="card-footer">
                    <a class="btn btn-cosmo-color-2" href="{{ path_for("administrator.control.classes") }}">Abrir</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}