$cosmo-color-1: #111720;
$cosmo-color-2: #1A2431;
$cosmo-color-3: #1A97F0;
$cosmo-color-4: #6DBCF5;
$cosmo-color-5: #94CEF7;

$theme-colors: (
    "cosmo-color-1": $cosmo-color-1,
    "cosmo-color-2": $cosmo-color-2,
    "cosmo-color-3": $cosmo-color-3,
    "cosmo-color-4": $cosmo-color-4,
    "cosmo-color-5": $cosmo-color-5
);