$cosmo-color-1:  #1CB0F6;
$cosmo-color-2: #13315C;
$cosmo-color-3: #7AC70C;
$cosmo-color-4: #D33131;
$cosmo-color-5: #771017;
$cosmo-color-6: #4C4C4C;
$cosmo-color-7: #FFC300;
$cosmo-color-8: #8549BA;
$cosmo-color-9: #FA811B;

$theme-colors: (
    "cosmo-color-1": $cosmo-color-1,
    "cosmo-color-2": $cosmo-color-2,
    "cosmo-color-3": $cosmo-color-3,
    "cosmo-color-4": $cosmo-color-4,
    "cosmo-color-5": $cosmo-color-5,
    "cosmo-color-6": $cosmo-color-6,
    "cosmo-color-7": $cosmo-color-7,
    "cosmo-color-8": $cosmo-color-8,
    "cosmo-color-9": $cosmo-color-9,
);