$cosmo-color-1:  #5ba4fd;
$cosmo-color-2: #13315C;
$cosmo-color-3: rgb(3, 61, 251);
$cosmo-color-4: #6DBCF5;
$cosmo-color-5: #94CEF7;
$cosmo-color-6: #771017;
$cosmo-color-7: #1E1E1E;
$cosmo-color-8: #6A5837;

$theme-colors: (
    "cosmo-color-1": $cosmo-color-1,
    "cosmo-color-2": $cosmo-color-2,
    "cosmo-color-3": $cosmo-color-3,
    "cosmo-color-4": $cosmo-color-4,
    "cosmo-color-5": $cosmo-color-5,
    "cosmo-color-6": $cosmo-color-6,
    "cosmo-color-7": $cosmo-color-7,
    "cosmo-color-8": $cosmo-color-8,
);