@import "colors";
@import "./node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "./node_modules/@fortawesome/fontawesome-free/scss/solid";
@import "./node_modules/@fortawesome/fontawesome-free/scss/regular";
@import "./node_modules/bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css?family=Montserrat');

body { 
   display: flex;
   min-height: 100vh;
   flex-direction: column;
   font-family: "Montserrat", sans-serif;
   .coins {
      position: relative;
      background-image: url("../icons/piggy-bank.png");
      height: 32px;
      width: 32px;
      display: inline-block;
  }
  .brain {
      background-image: url("../icons/brain.png");
      height: 32px;
      width: 32px;
      display: inline-block;
  }
  
  .papyrus{
      background-image: url("../icons/papyrus.png");
      height: 32px;
      width: 32px;
      display: inline-block;
  }
  
  .medal {
      background-image: url("../icons/medal.png");
      height: 32px;
      width: 32px;
      display: inline-block;
  }
  
  .trophy {
      background-image: url("../icons/trophy.png");
      height: 32px;
      width: 32px;
      display: inline-block;
  }
  
  .top-3 {
      background-image: url("../icons/badge.png");
      height: 32px;
      width: 32px;
      display: inline-block;
   }

   .crown {
      background-image: url("../icons/crown.png");
      height: 24px;
      width: 24px;
      display: inline-block;
   }

   .signature {
      background-image: url("../icons/contract.png");
      height: 32px;
      width: 32px;
      display: inline-block;
   }
   
   .correct {
      background-image: url("../icons/correct.png");
      height: 32px;
      width: 32px;
      display: inline-block;
   }
}

.stop-scrolling {
   height: 100%;
   overflow: hidden;
}
 
.wrapper {
   flex: 1;
}

.loader {
   position: fixed;
   width: 100%;
   overflow: hidden;
   height: 100vh;
   background-color: rgba(0, 0, 0, 0.8);
   top: 0;
   left: 0;
}

.loader-spinner {
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
}

.menu-user-dropdown {
   width: calc(100vw - 2rem);
   word-break: break-all;

   @media screen and (min-width: 992px) {
      width: 350px;      
   }
}

#dropdown-menu-right {
   color: #C2CDD6;
}

.dropdown-menu {
   min-width: 70px !important;
   transition: color 1s;
}

.dropdown-menu a:hover {
   color: #6DBCF5;
}

.dropdown-menu #exit:hover {
   color: #b4131d;
}

#sidebar {
   min-height: 100vh;
   margin-left: -15rem;
   -webkit-transition: margin .25s ease-out;
   -moz-transition: margin .25s ease-out;
   -o-transition: margin .25s ease-out;
   transition: margin .25s ease-out;
 }
 
 #sidebar .sidebar-heading {
   padding: 1.00rem 1.30rem;
   font-size: 1.2rem;
 }
 
 #sidebar .list-group {
   width: 15rem;
 }
 
 #page-content-wrapper {
   min-width: 100vw;
 }
 
 #content-wrapper.toggled #sidebar {
   margin-left: 0;
 }
 
 @media (min-width: 768px) {
   #sidebar {
     margin-left: 0;
   }
 
   #page-content-wrapper {
     min-width: 0;
     width: 100%;
   }
 
   #content-wrapper.toggled #sidebar {
     margin-left: -15rem;
   }
 }
 
 .side-card {
   margin-bottom: 10px;
   max-width: auto;
   .avatar img{
      margin-top: -55px;
      width: 130;
      height: 110;
      max-width: 140px;
      max-height: 110px;
      border-radius: 50%;
      overflow: hidden;
      border: 5px solid #fff;
   }
   .card-up{
      overflow: hidden;
      height: 60px;
      -webkit-border-top-left-radius: .25rem;
      border-top-left-radius: .25rem;
      -webkit-border-top-right-radius: .25rem;
      border-top-right-radius: .25rem;
   }
   .card-info {
      word-break: break-all;
      height: 100%;
      width: 100%;
   }
}



