@import "colors";
@import "./node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "./node_modules/@fortawesome/fontawesome-free/scss/solid";
@import "./node_modules/@fortawesome/fontawesome-free/scss/regular";
@import "./node_modules/bootstrap/scss/bootstrap";

body { 
   display: flex;
   min-height: 100vh;
   flex-direction: column;
}

.stop-scrolling {
   height: 100%;
   overflow: hidden;
}
 
.wrapper {
   flex: 1;
}

.loader {
   position: fixed;
   width: 100%;
   overflow: hidden;
   height: 100vh;
   background-color: rgba(0, 0, 0, 0.8);
   top: 0;
   left: 0;
}

.loader-spinner {
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
}

.menu-user-dropdown {
   width: calc(100vw - 2rem);
   word-break: break-all;

   @media screen and (min-width: 992px) {
      width: 350px;      
   }
}

.tooltip {
   position: relative;
   display: inline-block;
   border-bottom: 1px dotted black;
 }
 
 .tooltip .tooltiptext {
   visibility: hidden;
   width: 120px;
   background-color: #555;
   color: #fff;
   text-align: center;
   border-radius: 6px;
   padding: 5px 0;
   position: absolute;
   z-index: 1;
   bottom: 125%;
   left: 50%;
   margin-left: -60px;
   opacity: 0;
   transition: opacity 0.3s;
 }
 
 .tooltip .tooltiptext::after {
   content: "";
   position: absolute;
   top: 100%;
   left: 50%;
   margin-left: -5px;
   border-width: 5px;
   border-style: solid;
   border-color: #555 transparent transparent transparent;
 }
 
 .tooltip:hover .tooltiptext {
   visibility: visible;
   opacity: 1;
 }